CompileFlags:
  Compiler: clang
  Add:
    - -xc
    - -std=c11
    - -D_DEFAULT_SOURCE
    - -DVERSION="see .clangd"
    - -DSHA="see .clangd"
    - -Wall
    - -Wextra
    - -Werror
    - -pedantic
    - -fno-common
    - -Winit-self
    - -Wfloat-equal
    - -Wundef
    - -Wshadow
    - -Wpointer-arith
    - -Wcast-align
    - -Wstrict-prototypes
    - -Wstrict-overflow=5
    - -Wwrite-strings
    - -Waggregate-return
    - -Wcast-qual
    - -Wswitch-default
    - -Wswitch-enum
    - -Wconversion
    - -Wno-ignored-qualifiers
    - -Wno-aggregate-return
